


<div class="container mt-4">
<h1>Welcome to your bookings, <%= current_user.first_name %> </h1>

</div>

<div class="container">
  <% @bookings.each do |booking| %>
  <div class="card-product">
    <% if booking.car.picture.attached? %>
      <%= cl_image_tag booking.car.picture.key %>
    <% else %>
      <%= image_tag booking.car.photo %>
    <% end %>

    <div class="card-product-infos">
      <h2>Car: <%= booking.car.model %> </h2>
      <h4>Start date: <%= booking.start_date %></h4>
      <h4>End date: <%= booking.end_date %></h4>
      <h4><strong>TOTAL: <%= (booking.end_date - booking.start_date).to_i*booking.car.price %> CHF</strong></h4>
    </div>
  </div>
  </div>
<% end %>
