<div class="position-relative">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),

    <% if @car.picture.attached? %>
        url('<%= cl_image_path @car.picture.key %>')
        <% else %>
        url('<%= @car.photo %>')
       <% end %>
    ">
  </div>

</div>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="car-show-card">
        <h1><%= @car.title %></h1>
        <p class="car-show-city"><%= @car.model %></p>
      </div>
      <div class="car-show-card">
        <p><%= @car.description %></p>
        <p>Year: <%= @car.year %></p>
        <p>Location: <%= @car.city %></p>
      </div>
    </div>

    <div class="col-4">
      <div class="car-show-card">
        <h5>Book this car!</h5>
            <form action="">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">From:</span>
            <input type="text" class="form-control" placeholder="25/04/2021" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-addon" id="basic-addon1">To:</span>
            <input type="text" class="form-control" placeholder="26/04/2021" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
      </div>
      <div class="car-show-card">
        <h3 class="flex-align"><span>Price per day</span><span>CHF <%= @car.price %></span></h3>
      </div>
    </div>
  </div>
