<div class="position-relative">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),

    <% if @car.picture.attached? %>
        url('<%= cl_image_path @car.picture.key %>')
        <% else %>
        url('<%= @car.photo %>')
       <% end %>
    ">
  </div>

</div>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="car-show-card">
        <h1><%= @car.title %></h1>
        <p class="car-show-city"><%= @car.model %></p>
      </div>
      <div class="car-show-card">
        <p><%= @car.description %></p>
        <p><i class="fas fa-calendar-alt mr-2"></i><%= @car.year %></p>
        <p><i class="fas fa-map-marker-alt mr-2"></i><%= @car.city %></p>
      </div>
    </div>
    <div class="col-4">
      <div class="car-show-card">
        <div id='car-booking-dates'>
            <%= simple_form_for([@car, @booking]) do |f| %>
              <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"}  %>
              <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"}  %>
              <%if user_signed_in? %>
                <%= f.submit "Book", class: "btn btn-primary" %>
              <% else  %>
                <%= link_to "Book", new_user_session_path, class: "btn btn-success mt-2", style:"width: 100%" %>
              <% end %>

           <% end %>
      </div>
    </div>


    <!-- <div class="col-4">
      <div class="car-show-card">

        <!-- <h5>Book this car!</h5>
            <form action="">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">From:</span>
            <input type="text" class="form-control" placeholder="25/04/2021" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-addon" id="basic-addon1">To:</span>
            <input type="text" class="form-control" placeholder="26/04/2021" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <%if user_signed_in? %>
            <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
          <% else  %>
            <%= link_to "Book", new_user_session_path, class: "btn btn-success mt-2", style:"width: 100%" %>
          <% end %>
        </form> -->
      <!-- </div> -->
      <div class="car-show-card">
        <h4 class="flex-align"><span>Price per day</span><span>CHF <%= @car.price %></span></h4>
      </div>
    </div>

    <div class="container">
        <div class="row justify-content-start">
          <div class="col-8 bg-light p-1 border">
            <div class="car-show-card">
              <h3>Review</h3>
              <% @car.reviews.each do |review| %>
              <p><%= review.content %></p>
              <% end %>
            </div>
          </div>
        </div>
    </div>

<!--
    <div class="col-4">
      <div class="review-show-card">
        <% @car.reviews.each do |review| %>
        <p><%= review.content %></p>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div class="review-show-card">
        <h5>Honest review</h5>
        <p class="review-show-card">The Chevrolet Camaro Reliability Rating is 3.5 out of 5.0,
        which ranks it 21st out of 24 for midsize cars. The average annual repair cost is
        $585 which means it has average ownership costs.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="review-show-card">
        <h5>Honest review</h5>
        <p class="review-show-card">The Chevrolet Camaro Reliability Rating is 3.5 out of 5.0,
        which ranks it 21st out of 24 for midsize cars. The average annual repair cost is
        $585 which means it has average ownership costs.</p>
      </div>
    </div> -->
  </div>
</div>


